:host {
  display: block;
}

.capitalize {
  text-transform: capitalize;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-toolbar {
  height: fit-content;
  margin-bottom: 1rem;
}